/* =============================================================================
   My CSS
   ========================================================================== */

html,body{ 
	width:100%;
	height:100%;
	background:#111;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	position:relative;
}

html{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body{
  font:normal 75% Arial, Helvetica, sans-serif;
}


canvas{
  display:block;
  vertical-align:bottom;
}

/* padding is separated from the main header to ensure the cursor
   border doesn't include padding */
.h1Container {
	padding-top: 35vh;
	padding-bottom: 3vh;
}

h1 {
    width: 60%;
	font-family: 'Raleway', sans-serif;
	font-weight:600;
    font-size: 60pt;
    color: #FFFFFF;
	text-align: center;
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 0px;
	position:relative;
	z-index:1;
}

.h2Container {
	padding-bottom: 3vh;
	margin:auto;
}

h2 {
    width: 60%;
	font-family: 'Raleway', sans-serif;
	font-weight:400;
    font-size: 17pt;
    color: #FFFFFF;
    text-align: center;
    margin: auto;
	position:relative;
	z-index:1;	
}

/* Type writer animation adjustments */
h1 {
  border-right: solid 3px transparent;
  white-space: nowrap;
  overflow: hidden;    
}

h2 {
  border-right: solid 3px transparent;
  white-space: nowrap;
  overflow: hidden;    
}

/* Animation */
h1 {
  animation: animated-texth1 4s steps(29,end) 1s 1 normal both,
             animated-cursor 600ms steps(29,end) infinite;
}

/* Animation */
h2 {
  animation: animated-texth2 5s steps(29,end) 5s 1 normal both,
             animated-cursor 600ms steps(29,end) 5s infinite;
}
/* text animation. Reduced width for h2 */
@keyframes animated-texth1{
  from{width: 0;}
  to{width: 50%;}
}

@keyframes animated-texth2{
  from{width: 0;}
  to{width: 30%;}
}
/* cursor animations */

@keyframes animated-cursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

img {
  width: 30px;
  height: 30px;
  display:block;
  z-index:1;
  position:relative;
  background-color:white;
  margin: 0 10px;
  -webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
  filter: invert(100%);
}


/* ---- particles.js container ---- */

#particlesJS{
  width: 100%;
  height: 100%;
  position:absolute;
  z-index:0;
}

#socialButtons {
	display: flex;
	justify-content: center;
	align-items: center;
	position:relative;
}

/* Mobile settings*/
@media (max-width: 768px) {
    h1 {
        width: 88%;
        font-size: 30pt;
    }

    h2 {
        width: 60%;
        font-size: 12pt;
		height: 6vh;
    }
}