html,body{ 
	width:100%;
	min-height:100%;
	background:#111;
	padding: 0px;
	margin: 0px;
	position:relative;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
	overflow-x: hidden;
}

canvas{
  display:block;
  vertical-align:bottom;
  width:100%;
  height:100%;
  position:absolute;
}

/* particlesJS container*/
#particlesJS{
  width: 100%;
  height: 100vh;
  position:relative;
  z-index:0;
  top:0;
  left:0;
}

/* navigation bar */
#navBar {
	height:75px;
	position:fixed;
	z-index:3;
	background-color:black;
	transition: 0.5s;
	top:0;
	width:100%
}

#navBarContainer { 
	height:100%;
	display:flex;
	justify-content:space-between;
	position:relative;
}

#logo {
	/* background-color: #333; */
	padding-left:40px;
	margin-top:auto;
	margin-bottom:auto;
	color:white;
	font-family: 'Inconsolata', monospace;
	font-size:18pt;
}

#menu {
  font-family: 'Inconsolata', monospace;
  margin-top:auto;
  margin-bottom:auto;
}

a{
    position: relative;
    text-decoration: none;
    color: white;
	padding-bottom:5px;
}

a:after{
    content: "";
    position: absolute;
    background-color: white;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

a:hover{
    color: white;
}

a:hover:after{
    width: 100%;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-decoration: none
}

nav ul li {
	float:left;
	padding-right:70px;
	font-size:15pt;
	text-decoration: none
}

#landingDiv{
	position:absolute;
	height:100%;
	width:100%;
	z-index:0;
}

/* Padding is separated from the main header to ensure the cursor
   border doesn't include padding */
#h1Container {
	padding-top: 35vh;
	padding-bottom: 1.5vh;
}

h1 {
    width: 60%;
	font-family: 'Raleway', sans-serif;
	font-weight:600;
    font-size: 60pt;
    color: #FFFFFF;
	text-align: center;
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 0px;
	position:relative;
	z-index:1;
}

#h2Container {
	padding-bottom: 3vh;
}

h2 {
    width: 60%;
	font-family: 'Raleway', sans-serif;
	font-weight:400;
    font-size: 17pt;
    color: #FFFFFF;
    text-align: center;
    margin: auto;
	position:relative;
	z-index:1;	
}

/* Type writer animation for h1 and h2*/
h1 {
	border-right: solid 3px transparent;
	white-space: nowrap;
	overflow: hidden;    
	animation: animated-texth1 4s steps(29,end) 1s 1 normal both,
             animated-cursor 600ms steps(29,end) infinite;
}

h2 {
	border-right: solid 3px transparent;
	white-space: nowrap;
	overflow: hidden;   
    animation: animated-texth2 3.5s steps(29,end) 5s 1 normal both,
             animated-cursor 600ms steps(29,end) infinite;  
}

/* Text animation. Reduced width for h2 (since it has a smaller font)*/
@keyframes animated-texth1{
  from{width: 0;}
  to{width: 800px;}
}

@keyframes animated-texth2{
  from{width: 0;}
  to{width: 380px;}
}
/* Cursor animations */
@keyframes animated-cursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

/* Social button image */
.socials {
  width: 30px;
  height: 30px;
  display:block;
  z-index:1;
  position:relative;
  margin: 0 10px;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

/* div to group social buttons */
#socialButtons {
	display: flex;
	justify-content: center;
	align-items: center;
	position:relative;
}

/* About me div */
/* TODO: add scrolling animation */
#aboutMe {
	position:relative;
	background-color:white;
	height:360px;
	width:100vw;
	display: flex;
	align-items: center;
	z-index:0;
}

h3 {
    width:35%;
	font-family:'Raleway', sans-serif;
	font-weight:600;
    font-size:30pt;
    color:black;
	margin-top:0;
	position:relative;
	padding-left:3vw;
}

.bio {
	font-family:'Raleway', sans-serif;
	font-weight:400;
    font-size:20pt;
    color:black;
	position:relative;
	padding-left:6vw;
	width:60vw;
	padding-right:10vw;
	margin-top:0;
}

#bioContainer {
	 display:flex;
	 align-items:center;
}

.resumeButton {
	/* TODO: space button in imddle of remaining space in div both horizontally and vertically */
	
	border:none;
	background:black;
	color:white;
	display: inline-flex;
	align-items: center; 
	height:55px;
	width:180px;
	justify-content:center;
	font-size:18pt;
}

.downloadImage {
	-webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
	filter: invert(100%);
	padding-right:15px;
	height:30px;
	width:30px;
}

/* Skills div */
#skills {
	height: 710px;
	position:relative;
	background-color:#07223d;
}

h4 {
	color:white;
	width:35%;
	font-family: 'Mukta', sans-serif;
	font-weight:500;
    font-size:85pt;
	position:relative;
	margin:auto;
	text-align:center;
}

#skillsContainer {
	display:flex;
	align-items:center;
	justify-content:center;
	margin-left:auto;
	position:relative;
	width: 100vw;
	margin:auto;
	flex-wrap:wrap;
	column-gap:10px;
	row-gap:30px;
}

.skillImage { 
	width:150px	;
	height:150px;
	position:relative;
	margin:0 10px;
	aspect-ratio:auto;
	border-radius: 25px;
	border: 8px solid #787878;
	background:white;
	padding:25px;
	/* TODO: Add a scrolling animation for images to appear */
}

/* Portfolio div */
#portfolio {
	height:70vh;
	position:relative;
	background-color:#07223d;
}

/* Work exp div */

/* Contact me div */

/* Mobile settings*/
@media (max-width: 768px) {
	/* Fix for mobile viewport height */
	body {
		min-height: 100vh;
		min-height: -webkit-fill-available;
	}

	html {
		height: -webkit-fill-available;
	}

	#particlesJS {
		height: -webkit-fill-available;
		height:100svh;
	}
	
	/* navBar */
	#navBar {
		/* Temporarily hidden until hamburger menu is made for mobile */
		visibility:hidden;
	}
	/* Landing div */
	#landingDiv {
		height: -webkit-fill-available;
	}
	
	#h1Container {
		padding-bottom: 1.25vh;
	}

	#h2Container {
		padding-bottom: 2vh;
	}

    h1 {
        width: 88%;
        font-size: 25pt;
    }

    h2 {
        width: 60%;
        font-size: 10pt;
    }
	
	/* TODO: Change cursor width for mobile typewriter animation */
	/* Typewriter animation mobile adjustments*/
	@keyframes animated-texth1{
	  from{width: 0;}
	  to{width: 85vw;}
	}

	@keyframes animated-texth2{
		from{width: 0;}
		to{width: 55vw;}
	}
	
	/* About me div */
	#aboutMe {
		height:330px;
	}
	
	h3 {
		font-size:20pt;
		width:100vw;
		padding-left:5vw;
	}
	
	.bio {
		font-size:12pt;
		padding-left:8vw;
		margin-right:auto;
		width:85vw;
	}
	
	
	#bioContainer {
		flex-direction:column;
	}
	
	.resumeButton {
		width:125px;
		height:40px;
		font-size:18px;
		padding-left:0;
		box-sizing:border-box;
	}
	
	.downloadImage	{
		padding-right:10px;
		height:20px;
		width:20px;
	}
	
	/* Skills div */
	#skillsContainer {
		row-gap:15px;
		column-gap:0px;
	}
	
	#skills {
		height:470px;
	}
	
	h4 {
		font-size:40pt;
		width:100vw;
		padding-top:15px;
		padding-bottom:5px;
	}
	
	.skillImage {
		width:60px;
		height:60px;
		border: 4px solid #787878;
		padding:15px;
	}
	
	/* Work exp div */
	
	/* Side projects div */
	
	/* Contact me div */
}