html,body{ 
	width:100%;
	height:100%;
	background:#111;
	padding: 0px;
	margin: 0px;
	overflow-x: hidden;
	position:relative;
}

html{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

canvas{
  display:block;
  vertical-align:bottom;
  z-index:-1;
  width:100%;
  height:100%;
  position:absolute;
}

/* particlesJS container*/
#particlesJS{
  width: 100%;
  height: 100%;
  position:absolute;
  z-index:0;
}

#landingDiv{
	position:relative;
	height:100%;
	width:100%;
}

/* padding is separated from the main header to ensure the cursor
   border doesn't include padding */
#h1Container {
	padding-top: 35vh;
	padding-bottom: 1.5vh;
}

h1 {
    width: 60%;
	font-family: 'Raleway', sans-serif;
	font-weight:600;
    font-size: 60pt;
    color: #FFFFFF;
	text-align: center;
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 0px;
	position:relative;
	z-index:1;
}

#h2Container {
	padding-bottom: 3vh;
}

h2 {
    width: 60%;
	font-family: 'Raleway', sans-serif;
	font-weight:400;
    font-size: 17pt;
    color: #FFFFFF;
    text-align: center;
    margin: auto;
	position:relative;
	z-index:1;	
}

/* Type writer animation for h1 and h2*/
h1 {
	border-right: solid 3px transparent;
	white-space: nowrap;
	overflow: hidden;    
	animation: animated-texth1 4s steps(29,end) 1s 1 normal both,
             animated-cursor 600ms steps(29,end) infinite;
}

h2 {
	border-right: solid 3px transparent;
	white-space: nowrap;
	overflow: hidden;   
    animation: animated-texth2 5s steps(29,end) 5s 1 normal both,
             animated-cursor 600ms steps(29,end) infinite;  
}

/* Text animation. Reduced width for h2 (since it has a smaller font)*/
@keyframes animated-texth1{
  from{width: 0;}
  to{width: 50%;}
}

@keyframes animated-texth2{
  from{width: 0;}
  to{width: 30%;}
}
/* Cursor animations */
@keyframes animated-cursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

/* Social button image */
img {
  width: 30px;
  height: 30px;
  display:block;
  z-index:1;
  position:relative;
  background-color:white;
  margin: 0 10px;
  -webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
  filter: invert(100%);
}

/* div to group social buttons */
#socialButtons {
	display: flex;
	justify-content: center;
	align-items: center;
	position:relative;
}

/* About me div */
/* TODO: add scrolling animation */
#aboutMe {
	position:relative;
	background-color:white;
	height:40vh;
	width:100vw;
	overflow:hidden;
}

h3 {
    width:35%;
	font-family:'Raleway', sans-serif;
	font-weight:600;
    font-size:30pt;
    color:black;
    margin-right:auto;
	margin-bottom:auto;
	margin-top:0;
	position:relative;
	padding-top:5vh;
	padding-left:3vw;
}

.bio {
	font-family:'Raleway', sans-serif;
	font-weight:400;
    font-size:20pt;
    color:black;
	position:relative;
	padding-left:6vw;
	margin-right:auto;
	width:60vw;
}

/* Mobile settings*/
@media (max-width: 768px) {
	/* Fix for mobile viewport height */
	body {
		min-height: 100vh;
		min-height: -webkit-fill-available;
	}

	html {
		height: -webkit-fill-available;
	}

	/* Landing div */
	#landingDiv {
		height: -webkit-fill-available;
	}
	
	#h1Container {
		padding-bottom: 1.25vh;
	}

	#h2Container {
		padding-bottom: 2vh;
	}

    h1 {
        width: 88%;
        font-size: 25pt;
    }

    h2 {
        width: 60%;
        font-size: 10pt;
    }
	
	/* TODO: Change cursor width for mobile typewriter animation */
	/* Typewriter animation mobile adjustments*/
	@keyframes animated-texth1{
	  from{width: 0;}
	  to{width: 85vw;}
	}

	@keyframes animated-texth2{
		from{width: 0;}
		to{width: 70vw;}
	}
	
	/* About me div */
	/* TODO: make top and bottom spacing even between top of header and bottom of bio */
	#aboutMe {
		height:35%;
		
		/* TODO: fix height for older devices with shorter aspect ratio */
	}
	
	h3{
		font-size:20pt;
		width:100vw;
		padding-left:5vw;
	}
	
	.bio {
		font-size:12pt;
		padding-left:8vw;
		margin-right:auto;
		width:85vw;
	}
	
	/* Languages div */
	
	/* Work exp div */
	
	/* Side projects div */
	
	/* Contact me div */
}